pysksdk.py
demo.py
demo_backup.py
.vscode/settings.json
gen_pyc.py
skt_face.py
._port_test.py
.skt_face.py.swp
.ipynb_checkpoints/Step 1 get_token-checkpoint.ipynb
.ipynb_checkpoints/Step 2 Image Load-checkpoint.ipynb
.ipynb_checkpoints/Step 3 face recognition-checkpoint.ipynb
